# Python 101.2

## Iniciando em Python

Neste notebook serão tratados mais assuntos iniciais da linguagem, como listas, tuplas e outras estruturas de dados.

## Estruturas de dados 

Em python temos algumas estruturas de dados, desde listas (arrays) até dicionários (hashtable).

Importante notar em python, como veremos abaixo, que as Strings possuem algumas características das listas.

### Listas

O tipo mais básico de estrutura de dados em python.

Pela dinamicidade da linguagem, as listas podem aceitar todos os tipos de dados disponíveis em python, de números, String e outros objetos.

In [1]:
# Lista vazia
x = []
# Lista com 3 elementos
y = [1, "a", 2.1]

print("x is: ", type(x))
print("y is: ", type(y))

x is:  <class 'list'>
y is:  <class 'list'>

In [2]:
# Podemos acessar os elementos da lista usando os laços de repetição
for i, m in enumerate(y):
    print(f"item {i}", m)

# Acessar 1 item
print("Soma de 2 items: ", y[0] + y[2])

# Usar a função len para recuperar o tamanho da lista
print("Tamanho da lista: ", len(y))

item 0 1
item 1 a
item 2 2.1
Soma de 2 items:  3.1
Tamanho da lista:  3

In [3]:
# Lista pode conter outras listas
y = [[1, 2, 3], [4, 5, 6], "a"]
print("Listas com listas: ", y)

Listas com listas:  [[1, 2, 3], [4, 5, 6], 'a']

In [4]:
# Concatenar duas listas
y = [1, 2, 3] + [4, 5, 6]
print("Concatenar 2 listas usando +", y)

Concatenar 2 listas usando + [1, 2, 3, 4, 5, 6]

In [5]:
# Ordenação de elementos
y = [7, 4, 9, 5, 1, 8, 3, 10, 2, 6]
y.sort()
print("Ordenada: ", y)
print("Tamanho da lista: ", len(y))

Ordenada:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Tamanho da lista:  10

In [6]:
# Editar itens na lista e adicionar novos
y = ["a", "b", "c"]

# Alteração
y[0] = "e"
print("Lista alterada: ", y)

y.append("a")
print("Lista item adicionado em último: ", y)

y.pop()
print("Lista removido último item: ", y)

Lista alterada:  ['e', 'b', 'c']
Lista item adicionado em último:  ['e', 'b', 'c', 'a']
Lista removido último item:  ['e', 'b', 'c']

In [7]:
# Busca um elemento dentro de uma lista usando in
y = [7, 4, 9, 5, 1, 8, 3, 10, 2, 6]
print("Busca 7 na lista: ", 7 in y)

Busca 7 na lista:  True

#### Slicing

Em python para conseguirmos pegar alguns itens de uma estrutura de dados, podemos usar o chamado slice, que em python é feito da seguinte maneira.

In [34]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Pegando apenas o primeiro item
print('Primeiro item: ', x[0])
print('Primeiros 3 itens: ', x[:3])
print('Últimos 3 itens: ', x[7:])
print('Itens 4, 5 e 6: ', x[3:6])
print('Apenas items pares: ', x[1::2])

Primeiro item:  1
Primeiros 3 itens:  [1, 2, 3]
Últimos 3 itens:  [8, 9, 10]
Itens 4, 5 e 6:  [4, 5, 6]
Apenas items pares:  [2, 4, 6, 8, 10]

### Tuplas

Tuplas possuem algumas características apresentadas acima para as listas, exceto que são imutáveis, ou seja, não podemos modificar seus itens após a definição dos mesmo.

In [9]:
y = (1, 2, 3)
print("y is: ", type(y))

y is:  <class 'tuple'>

In [12]:
# Adicionar items permitido, assim como remover
y += (9, 6)
print("Adicionar itens é permitido", y)

Adicionar itens é permitido (1, 2, 3, 9, 6, 9, 6)

In [13]:
# Modificar items é proíbido
y[3] = 10

TypeError: ignored

### Strings

Strings em python, podem ser consideradas tuplas... pois seus itens não podem ser alterados da mesma maneira.

In [14]:
x = "Hello"
for m in x:
    print(m)

H
e
l
l
o

In [15]:
print("Primeiro item da String: ", x[0])

print("Tamanho da String: ", len(x))

Primeiro item da String:  H
Tamanho da String:  5

In [16]:
# Item assignment
x[0] = "A"

TypeError: ignored

### Dicionários

São estruturas de dados bem definidas, no formato key: value, nos mesmo moldes como o formato json. Tanto que em python a conversão de dicionário para json e vice-versa é bem simples e rápida usando o módulo json conforme será visto posteriormente.

In [17]:
x = {}
y = {"id": 1}
# O campo key pode vir a ser uma estrutura mais complexa, como uma tupla
w = {("a", 1): 3}

print("x is: ", type(x))
print("y is: ", type(y))
print("w is: ", type(w))

x is:  <class 'dict'>
y is:  <class 'dict'>
w is:  <class 'dict'>

In [18]:
x = {}

# Adicionar itens
x["a"] = 10
print("Item adicionado: ", x)

# Adicionar DICS
z = {**x, **{"b": 5}}
print("Adição de dict: ", z)
# OR
w = x.copy()
w.update({"b": 5})
print("Adição de dict: ", w)

Item adicionado:  {'a': 10}
Adição de dict:  {'a': 10, 'b': 5}
Adição de dict:  {'a': 10, 'b': 5}

In [19]:
# Acessar os itens de um dicionário
x = {
    "a": 1,
    "b": [1, 2, 3],
    "c": {"k": 1}
}

print("Chaves do dicionário: ", x.keys())
print("Valores do dicionário: ", x.values())

# Loop dentro do Dicionário
print("-" * 20)
print("Loop: ")
for k, v in x.items():
    print(f"key: {k}", f"value: {v}")

Chaves do dicionário:  dict_keys(['a', 'b', 'c'])
Valores do dicionário:  dict_values([1, [1, 2, 3], {'k': 1}])
--------------------
Loop:
key: a value: 1
key: b value: [1, 2, 3]
key: c value: {'k': 1}

In [20]:
# Buscar por uma chave dentro do dicionário
x = {
    "a": 1,
    ("b", 1): [1, 2, 3],
    "c": {"k": 1}
}

print("Busca chave: \"a\" in x = ", "a" in x)
print("Busca chave: (\"b\", 1) in x = ", ("b", 1) in x)

Busca chave: "a" in x =  True
Busca chave: ("b", 1) in x =  True

### Sets

Os sets são outro tipo de estrutura de dados, devemos pensar nos sets exatamente como as estrutruras matemáticas que estudamos durante o ensino médio. Sets são a representação dos **Conjuntos** matemáticos na linguagem python.

A grande diferença dos sets, é que eles não poderão ter valores repetidos dentro deles.

In [21]:
x = set()
y = set([1, 2, 3, 4])
w = set([1, 2, 4, "a"])
print("x is: ", type(x))
print("y is: ", type(y))
print("w is: ", type(w))

x is:  <class 'set'>
y is:  <class 'set'>
w is:  <class 'set'>

## Compreensão de Listas (List Comprehension)

Em python existe uma outra maneira de criação das estruturas de dados apresentadas acima, são chamadas de Comprehension.

### List Comprehension

In [22]:
# Modo normal
k = [x for x in range(10)]
print(k)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
# Podemos adicionar ou não itens usando if / else
k = [x for x in range(10) if x % 3 == 0]
print(k)

[0, 3, 6, 9]

In [24]:
k = [x**x if x % 3 == 0 else str(x) for x in range(10)]
print(type(k))
print(k)

<class 'list'>
[1, '1', '2', 27, '4', '5', 46656, '7', '8', 387420489]

### Dictionary Comprehensions

In [25]:
k = {str(i): x for i, x in enumerate(range(10))}
print(type(k))
print(k)

<class 'dict'>
{'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}

### Set Comprehensions

In [26]:
k = {x for x in range(10)}
print(type(k))
print(k)

<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## File I/O

Em python é muito simples trabalhar com arquivos.

In [27]:
!wget https://raw.githubusercontent.com/rdenadai/sentiment-analysis-2018-president-election/master/dataset/emocoes/tristeza
!ls

--2019-02-04 16:24:47--  https://raw.githubusercontent.com/rdenadai/sentiment-analysis-2018-president-election/master/dataset/emocoes/tristeza
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2524 (2.5K) [text/plain]
Saving to: ‘tristeza’

tristeza            100%[===================>]   2.46K  --.-KB/s    in 0s

2019-02-04 16:24:47 (56.7 MB/s) - ‘tristeza’ saved [2524/2524]

sample_data  tristeza

In [28]:
fh = open('tristeza', 'r')
data = fh.read()
print(data[:10])
fh.close()

abandonado